.gocache
.cache/

# Ignore ferret files from being tracked by git from the root directory
/*.c
!runtime/**/*.c
/*.h
!runtime/**/*.h
# Generated C files are temporary and deleted after compilation
*.o
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.def
*.exp
*.manifest
*.rc
*.res
*.manifest
*.exe
*.dll
.tmp
bin
libs