node_modules
.env
.astro
dist
*.ast.json

# Ignore ferret files from being tracked by git from the root directory
/*.fer
*.c
# Generated C files are temporary and deleted after compilation
*.h
*.o
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.def
*.exp
*.manifest
*.rc
*.res
*.manifest
*.exe
*.dll